<!DOCTYPE html>
<html ng-app="plunker">

<head>
  <meta charset="utf-8" />
  <title>Deluge KIT Generator</title>
  <script>
    document.write('<base href="' + document.location + '" />');
    </script>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="radio.css" />
  <link href="libs/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-controller="MainCtrl" class="container">
  <div class="bar">
    <h2>
      <i class="glyphicon glyphicon-road"></i>
      DELUGE KIT GENERATOR 1.0
    </h2>by frankyyyy ät live.com
  </div>
  
  <div class="row">
    <div class="col-md-7">
      <h4>KIT .xml File (optional)</h4>
      <input class="btn btn btn-file" type="file" id="file" name="file" onchange="angular.element(this).scope().loadFile(this)" title="{{'Loaded ' + filename}}"/>
    </div>
    <textarea class="preview" ng-show="togglePreview" class="form-control" ng-model="output" name="xml-output"></textarea>
    <div class="col-md-4">
      <button class="btn btn-primary" ng-click="saveFile()">
        <i class="glyphicon glyphicon-floppy-disk"></i>
        Save XML File
      </button>
      &nbsp;<a class="btn btn-info" ng-click="togglePreview=!togglePreview">
        <i class="glyphicon glyphicon-eye-open"></i>
        Preview XML
      </a>
      <br/>
      <br/>

      <button class="btn btn-success" ng-click="generate()" ng-if="sampleNames1">
        <i class="glyphicon glyphicon-cd"></i>
        &nbsp;GENERATE KIT FROM FOLDERS
      </button>
      <br/>( Creates sample entries for each file in the OSC1 and OSC2 folders. Overrides all individual sample settings with global
      sample settings! )
      <!-- <span class="text-danger">CAUTION: Backup your deluge KIT file before overwriting!</span> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <h4>OSC1 Sample Folder:</h4>
       Specify folder
       <input  class="foldername"type="string" ng-model="folderName1">
      <input type="file" class="btn btn-info btn-file" multiple id="osc1files" title="OSC1 sample directory" onchange="angular.element(this).scope().loadedOSC(this, 1)"/>
      <br/>
      <label for="lowerBound">Lowest Note</label>
      <select ng-options="idx as note for (idx, note) in allNotes" name="lowerBound" ng-model="lowerBound"></select>
      <label for="upperBound">Highest Note</label>
      <select ng-options="idx as note for (idx, note) in allNotes" name="upperBound" ng-model="upperBound"></select>
    </div>
    <div class="col-md-7">    
      <ul>
        <li class="file"
          ng-repeat="file in sampleNames1"
          ng-bind-html="file.name + '&nbsp;' | highlight"
          id="{{'osc1_' + file.name + $index}}">
        </li>
      </ul>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-5">
      <h4>OSC2 Sample Folder:</h4>
      Specify folder
      <input class="foldername" type="string" ng-model="folderName2">
      <input type="file" class="btn btn-info btn-file" webkitdirectory mozdirectory id="osc2files" title="OSC2 sample directory" onchange="angular.element(this).scope().loadedOSC(this, 2)"/>
    </div>
    <div class="col-md-5">
      <ul>
        <li class="file"
        ng-repeat="file in sampleNames2"
        ng-bind-html="file.name + '&nbsp;' | highlight"
        id="{{'osc2_' + file.name + $index}}">
      </li>
    </ul>
  </div>
</div>

  <div class="row" ng-if="model">
    <div class="row">
      <div class="col-md-5">
        <button class="btn btn-info" ng-class="{'btn-warning': toggleGlobal}" ng-click="toggleGlobal = !toggleGlobal">
          <i class="glyphicon glyphicon-globe"></i>
          Global Sample Settings
        </button>
      </div>
      <div class="col-sm-5">
       
      </div>
    </div>
    <form ng-show="toggleGlobal" class="col" sf-schema="schema_osc" sf-form="['*']" sf-model="osc">
    </form>
  </div>
  
  <div class="row" ng-if="model">
    <button class="btn btn-primary" ng-class="{'btn-warning': toggleDetail}" ng-click="toggleDetail = !toggleDetail">
      <i class="glyphicon glyphicon-wrench"></i>
      Individual Sample settings
    </button>
    <form ng-show="toggleDetail" class="col" sf-schema="schema" sf-form="form" sf-model="model"></form>
  </div>


  <script src="libs/angular.min.js"></script>

  <script src="libs/jquery-2.1.3.js"></script>
  <script src="libs/bootstrap.min.js"></script>
  <script src="libs/lodash.min.js"></script>

  <script src="libs/d3.min.js"></script>
  <script src="ng-knob.js"></script>
  <script src="xml2json.js"></script>
  <script src="json2xml.js"></script>
  <script src="TEST.xml.js"></script>
  <script src="libs/angular-sanitize.js"></script>
  <script src="app.js"></script>
  <script src="tv4.js"></script>
  <script src="schema.js"></script>
  <script src="schema_osc.js"></script>
  <script src="x2js.js"></script>
  <script src="templates/default.html.js"></script>
  <script src="templates/radios.html.js"></script>
  <script src="templates/hex.html.js"></script>
  <script src="templates/select.html.js"></script>
  <script src="templates/fieldset.html.js"></script>
  <script src="ObjectPath.js"></script>
  <script src="schema-form.js"></script>
  <script src="bootstrap-decorator.js"></script>
</body>

</html>