/* Put your css in here */
textarea.preview {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 180px;
  height: 60%;
  z-index: 1000;
  box-shadow: 5px 5px 5px #777;
}
.bar {
  background-color: #333;
  color: #eee;
  margin: 0;
  padding: 0.5em;
}

.row {
  border-bottom: 1px solid #ccc;
  padding: 1em;
}

.container {
  min-width: 100%;
}


tr {
  border-bottom: 1px dashed #ccc;
}

table td {
  padding: 0.2em 0.5em;
}

table th {
  padding-right: 0.3em;
  font-weight: normal;
}

td.plus {
  text-align: right;
  color: green;
}
td.plus::before {
  content: '+'
}
td.minus {
  text-align: right;
  color: red;
}


tr.missing {
  color: #999;
  background-color: #f4f4f4;
}

tr.file {
  margin-left: 1em;
  list-style: none;
  /* display: inline-block; */
  font-size: 70%;
}

.hex {
  font-family: monospace;
  margin-left: 130px;
  margin-top: -25px;
  position: absolute;
  color: #aaa;
}


form {
  background-color: #eee;
  color: #333;
  padding: 1em;
}

form legend {
  text-transform: uppercase;
  color: #222;
  font-size: 100%;
}

.has-success label span {
  color: #333;
}


.form-group label.control-label {
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.9em;
  font-weight: 500;
}

.form-group {
  margin-left: 5px;
}

.list-group .list-group-item {
  display: inline-block;
  margin: 0.5em;
  width: 350px;
}

form .has-success .help-block {
 color: #737373;
 z-index: -1;
}

.checkbox label span {
  font-weight: bold;
}

.form-group .radio {
  z-index: 100;
}


.form-group .help-block {
  position: absolute;
  background-color: #fefefe;
  display: none;
}


.form-group {
  /* float: left; */
  /* min-width: 40%; */
  flex: 1;
}
.toggle {
  padding: 0.3em;
  cursor: row-resize;
}
form fieldset {
  /* clear: both; */
}

span.highlighted {
  color: #5bb0ce;
  /* font-weight: bold; */
}

input.foldername {
  width: 100%;
}

form fieldset input[id="fileName"] {
  font-size: 80%;
  min-width: 320px;
}

.form-group textarea.form-control{
  height: 300px;
  width: 100%;
}

bootstrap-decorator fieldset {
  display: flex;
  flex-direction: row;
}

fieldset sf-decorator {
  flex: 0 0.5 auto;
}

legend.btn {
  margin: 0.2em;
}

.form-group label {
  margin: 0;
}
